.users_list {
  padding-top: 5%;
  padding-bottom: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.users_list-user {
  width: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 2em;
  background: #ff6a00;
}

.users_list-user a {
  text-decoration: none;
  color: #fff;
}
