.profile {
  padding-bottom : 15%;
}

.profile-section-header {
  font-family: 'Permanent Marker', Cursive;
  color: #ee0979;
}

/* User basics */
.user-basic-container,
.stats-wrapper,
.follows-container {
  display: flex;
}

.user-basic-img-container {
  flex: 0 65% 0;
}

.user-basic-info-container {
  flex: 1;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 800px;
}

.stats-left, .stats-right {
  flex: 1;
}

.userAva {
  border-radius: 50%;
}

.username {
  font-Family: 'Permanent Marker', Cursive;
  font-size: 2em;
}

.user-basic-info-location {
  color: rgb(227, 227, 227);
}

.user-basic-info-focus {
  color: #ff6a00;
}

/* User Experience */
.work-exp-item {
  padding: 0 5%;
  margin-bottom: 2em;
  border-width: 5px;
  border-style: solid;
  border-right: none;
  -webkit-border-image:
    -webkit-gradient(linear, 0 0, 0 100%, from(#ff6a00), to(#ee0979)) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(#ff6a00, #ee0979) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(#ff6a00, #ee0979) 1 100%;
  -o-border-image:
    -o-linear-gradient(#ff6a00, #ee0979) 1 100%;
  border-image:
    linear-gradient(to bottom, #ff6a00, #ee0979) 1 100%;
}

/* Projects */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 700px;
  overflow-y: scroll;
}

.project-item-container {
  width: 300px;
  margin-bottom: 2em;
  background: #ff6a00;
}

.project-desc {
  padding: 1em;
}

.project-item-container a {
  color: #fff;
  text-decoration: none;
}

/* Follows */
.follows-container {
  padding-top: 5%;
}
.followers-container,
.following-container {
  flex: 50%;
  text-align: center;
}

.followers-list {
  margin-right: 0.5em;
}

.following-list {
  margin-left: 0.5em;
}

.followers-list,
.following-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 300px;
  overflow-y: scroll;
  border-width: 5px;
  border-style: solid;
  -webkit-border-image:
    -webkit-gradient(linear, 0 0, 0 100%, from(#ff6a00), to(#ee0979)) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(#ff6a00, #ee0979) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(#ff6a00, #ee0979) 1 100%;
  -o-border-image:
    -o-linear-gradient(#ff6a00, #ee0979) 1 100%;
  border-image:
    linear-gradient(to bottom, #ff6a00, #ee0979) 1 100%;
}
