.search-bar {
  text-align: center;
}

.search-bar h1 {
  font-Family: 'Permanent Marker', Cursive;
}

.input-container input {
  border-radius: 50px;
  border-color: #ff6a00;
  width: 350px;
  height: 50px;
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #ff6a00;
}

.input-container input:focus {
  outline: none;
}
