.header {
  background-color: rgb(29, 36, 52);
  padding: 2% 5%;
  box-shadow: 0px 0px 5px 2px rgb(22, 24, 38);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.header a {
  color: #fff;
  text-decoration: none;
  margin-right: 2em;
  position: relative;
}

.header a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ee0979;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.header a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
