.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(22, 24, 38);
  text-align: center;
  padding: 3% 0;
}

.footer h3 {
  font-family: 'Permanent Marker', Cursive;
}

.fa-heart {
  color: rgb(193, 28, 28);
}
