/*
Fonts:
font-family: 'Permanent Marker', Cursive;
font-family: 'Lato', sans-serif;

Colors:
  rgb(29, 34, 50) - Light gray
  rgb(29, 36, 52) - Mid gray
  rgb(22, 24, 38) - Dark gray
  #ee0979 -> #ff6a00 - Sunset gradient
*/

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: rgb(29, 34, 50);
  color: #fff;
}

.content {
  padding: 5% 10% 15% 10%;
}

.sunset-gradient-text {
  background: linear-gradient(#ee0979, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Image hover style */
.img-container {
  position: relative;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.img-container:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.img-overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover img {
  opacity: 0.3;
}

.img-container:hover .img-overlay {
  opacity: 1;
}
